<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commentLiked</key>
	<string>commentLiked</string>
	<key>commentReplied</key>
	<string>commentReplied</string>
	<key>postCommented</key>
	<string>postCommented</string>
	<key>postBookmarked</key>
	<string>postBookmarked</string>
	<key>postLiked</key>
	<string>postLiked</string>
	<key>newJob</key>
	<string>newJob</string>
	<key>newPost</key>
	<string>newPost</string>
	<key>groupApproved</key>
	<string>groupApproved</string>
	<key>groupApplied</key>
	<string>groupApplied</string>
	<key>groupJoined</key>
	<string>groupJoined</string>
	<key>groupInvitation</key>
	<string>groupInvitation</string>
	<key>invitationAccpected</key>
	<string>invitationAccpected</string>
	<key>friendInvitation</key>
	<string>friendInvitation</string>
	<key>_id</key>
	<string>id</string>
</dict>
</plist>
