<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bioText</key>
	<string>bioText</string>
	<key>cover</key>
	<string>cover</string>
	<key>cover_ref</key>
	<string>cover_ref</string>
	<key>createDate</key>
	<string>createDate</string>
	<key>email</key>
	<string>email</string>
	<key>firstName</key>
	<string>firstName</string>
	<key>lastName</key>
	<string>lastName</string>
	<key>photo</key>
	<string>photo</string>
	<key>photo_ref</key>
	<string>photo_ref</string>
	<key>provider</key>
	<string>provider</string>
	<key>type</key>
	<string>type</string>
	<key>_id</key>
	<string>id</string>
	<key>telNo</key>
	<string>telNo</string>
	<key>address</key>
	<string>address</string>
	<key>zipCode</key>
	<string>zipCode</string>
	<key>nearestSt</key>
	<string>nearestSt</string>
	<key>nationality</key>
	<string>nationality</string>
	<key>birthDay</key>
	<string>birthDay</string>
	<key>gender</key>
	<string>gender</string>
	<key>marriage</key>
	<string>marriage</string>
	<key>webSite</key>
	<string>webSite</string>
</dict>
</plist>
