<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cover</key>
	<string>cover</string>
	<key>cover_ref</key>
	<string>cover_ref</string>
	<key>createDate</key>
	<string>createDate</string>
	<key>email</key>
	<string>email</string>
	<key>firstName</key>
	<string>firstName</string>
	<key>lastName</key>
	<string>lastName</string>
	<key>photo</key>
	<string>photo</string>
	<key>photo_ref</key>
	<string>photo_ref</string>
	<key>provider</key>
	<string>provider</string>
	<key>type</key>
	<string>type</string>
	<key>_id</key>
	<string>id</string>
</dict>
</plist>
