<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>img_reg_01</string>
		<key>iconName</key>
		<string>ico_reg_01</string>
		<key>textA</key>
		<string>发现</string>
		<key>textB</key>
		<string>曾经的老战友附近现场的新朋友寻找感兴趣的现场</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>img_reg_02</string>
		<key>iconName</key>
		<string>ico_reg_02</string>
		<key>textA</key>
		<string>沟通</string>
		<key>textB</key>
		<string>即时通讯强大有趣的群组</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>img_reg_03</string>
		<key>iconName</key>
		<string>ico_reg_03</string>
		<key>textA</key>
		<string>连接</string>
		<key>textB</key>
		<string>职场社交IO2O线上线下活动打通职场人脉</string>
	</dict>
</array>
</plist>
