<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>地图显示</string>
	<string>新用户注册(可以使用不存在的Email)</string>
	<string>用户一览</string>
	<string>添加好友</string>
	<string>好友邀请和被邀请一览显示</string>
</array>
</plist>
